<!DOCTYPE html>
<html>
<head>
  <title>Admin Oxmose</title>
  <link rel="stylesheet"
        href="{{ asset('bundles/avanzuadmintheme/static/'~ app.environment ~'/styles/admin-lte-all.css') }}"/>
</head>
<body style="background-color: #eee">

<div class="login-box">
  <div class="login-logo">
    <b>Admin</b>Oxmose
  </div>

  <div class="login-box-body">
    {% for type, messages in app.session.flashBag.all %}
      {% for message in messages %}
        <div class="alert alert-{{ type }} alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <p>{{ message }}</p>
        </div>
      {% endfor %}
    {% endfor %}

    {% block body %}{% endblock %}
  </div>
</div>


<script src="{{ asset('bundles/avanzuadmintheme/static/'~app.environment~'/scripts/admin-lte-all.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
