{% extends '@AppBundle/index.html.twig' %}

{% block body %}
    <!-- /.login-logo -->
      <p class="login-box-msg">Connectez vous pour avoir accès au panneau d'administration</p>
      <form action="{{ path('login') }}" method="post">
        {% if error %}
          <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <input type="hidden" name="_target_path" value="{{ path('admin_homepage') }}" />

        <div class="form-group has-feedback">
          <input type="text" name="_username" class="form-control" placeholder="Username">
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="password" name="_password" class="form-control" placeholder="Mot de passe">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <button type="submit" class="btn btn-primary btn-block btn-flat">Se connecter</button>
        <a href="{{ path('request_password') }}" class="btn btn-default btn-block btn-flat">Mot de passe oublié ?</a>
        </form>
{% endblock %}
