{% extends '@AppBundle/index.html.twig' %}

{% block body %}
  <div id="fb-root"></div>
  <script>(function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s);
      js.id = id;
      js.src = 'https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.11&appId=1982565945359703';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>


  <div>

    <fb:login-button
      scope="public_profile,email"
      onlogin="checkLoginState();">
    </fb:login-button>
  </div>
{% endblock %}

{% block javascripts %}
  <script>
    window.fbAsyncInit = function () {
      FB.init({
        appId: '1982565945359703',
        cookie: true,
        xfbml: true,
        version: 'v2.11'
      });

      FB.AppEvents.logPageView();
      FB.getLoginStatus(function (response) {
        statusChangeCallback(response);
      });

    };

    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {
        return;
      }
      js = d.createElement(s);
      js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    $(document).ready(function () {

    });

    function statusChangeCallback(res) {
      console.log(res);
      FB.api('/me', function(res) {
        console.log(res);
      })
    }

    function checkLoginState() {
      FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
      });
    }

  </script>
{% endblock %}
