{% extends '@AppBundle/index.html.twig' %}


{% block body %}
    <p class="login-box-msg">
      Votre demande de réinitialisation de mot de passe à bien été prise en compte.<br>
      Un email vous a été envoyée afin de réinitialiser celui-ci.
    </p>
    <a href="{{ path('login') }}" class="btn btn-block btn-flat btn-default">Se connecter</a>
{% endblock %}
