{% extends '@AppBundle/index.html.twig' %}

{% block body %}
  <p class="login-box-msg">Merci d'indiquer votre adresse email afin de réinitialiser votre mot de passe</p>
  <form action="{{ path('request_password') }}" method="POST">
    <div class="form-group has-feedback">
      <input type="text" name="email" class="form-control" placeholder="Email">
      <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>

    <button class="btn btn-primary btn-block btn-flat" type="submit">Valider</button>
  </form>
{% endblock %}
